RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^home(.*)$ index.php?pagina=home [L]
RewriteRule ^policiais(.*)$ index.php?pagina=policiais [L]
RewriteRule ^funcoes(.*)$ index.php?pagina=funcoes [L]
RewriteRule ^escalas_listagem(.*)$ index.php?pagina=escalas_listagem [L]
RewriteRule ^escalas(.*)$ index.php?pagina=escalas [L]
RewriteRule ^usuarios(.*)$ index.php?pagina=usuarios [L]
RewriteRule ^grupos(.*)$ index.php?pagina=grupos [L]
RewriteRule ^acessos(.*)$ index.php?pagina=acessos [L]
